{% extends 'base.html.twig' %}

{% block stylesheets %}
{{parent()}}
	{{ encore_entry_link_tags('createCategory')}}

{% endblock %}

{% block javascripts %}
{{parent()}}
	{{ encore_entry_script_tags('createCategory') }}

{% endblock %}

{% block title %}Create a category
{% endblock %}

{% block main %}
	<main>
		<h1>Categories</h1>

		{% if app.user and "ROLE_ADMIN" in app.user.roles %}
			<a class="create-link" href="{{path('admin_create_category')}}">
				Create a new category</a>
		{% endif %}

		{% for category in categories %}
			<div class="category-card">
				<h2>{{ category.name }}</h2>
			{% if app.user and "ROLE_ADMIN" in app.user.roles %}
				</div>
			
			<button type="submit" class="btn-save-categ">{{ labelBtn|default('Save') }}</button>
		</div>
			{% endif %}

		{% endfor %}
<a class="btn-back-list" href="{{path('admin_index_category')}}">Back</a>
	</main>
{% endblock %}
