{% extends 'base.html.twig' %}

{% block title %}List of categories
{% endblock %}

{% block main %}
	<main>
		<h1>Categories</h1>

		{% if app.user and "ROLE_ADMIN" in app.user.roles %}
			<a class="create-link" href="{{path('admin_create_category')}}">
				Create a new category</a>
		{% endif %}

		{% for category in categories %}
			<div class="category-card">
				<h2>{{ category.name }}</h2>
			{% if app.user and "ROLE_ADMIN" in app.user.roles %}
				<div class="actions">
					<a href="{{ path('admin_update_category',{id: category.id}) }}" class="btn">Update</a>
					<form method="post" action="{{path('admin_delete_category', {id: category.id})}}" onsubmit="return confirm('Confirmer la supression ?')">
						<input type="hidden" name="token" value="{{ csrf_token('delete' ~ category.id)}}">
						<button class="btn-delete">Delete</button>
					</form>
				</div>
			{% endif %}

		{% endfor %}

	</main>
{% endblock %}
