{% extends 'base.html.twig' %}

{% block title %}List of categories
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('listCateg') }}

{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('listCateg') }}
	{{ encore_entry_script_tags('messageFlash')}}
{% endblock %}

{% block main %}
	<main>
		<h1>Categories</h1>

		{% if app.user and "ROLE_ADMIN" in app.user.roles %}
			<a class="create-link" href="{{path('admin_create_category')}}">
				Create a new category</a>
		{% endif %}

		<div class="container">
			{% for category in categories %}
				<div class="category-card">
					<h2>{{ category.name }}</h2>
					{% if app.user and "ROLE_ADMIN" in app.user.roles %}
						<div class="actions">
							<a href="{{ path('admin_update_category',{id: category.id}) }}" class="btn-update">Update</a>
							<form method="post" action="{{path('admin_delete_category', {id: category.id})}}" onsubmit="return confirm('Confirmer la supression ?')">
								<button class="btn-delete">Delete</button>
							</form>
						</div>
					{% endif %}

				</div>

			{% endfor %}
		</div>
	</main>
{% endblock %}
